@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Dancing+Script&family=Hind&family=Lobster+Two&family=Montserrat&family=Oxygen&family=PT+Sans&family=Poppins&family=Roboto&family=Tajawal&display=swap");

.button-div {
 padding-top: 50px;
}

#buttonStyler.btn {
	font-family: 'Montserrat', sans-serif;
	color: rgba(156,35,174,1);
	font-size: 28px;
	padding: 5px;
	border: 3px solid rgba(156,35,174,1);
	border-radius: 10px;
	background: rgba(255,178,77,1);
}

#buttonStyler.btn:hover {
	color: rgba(255,178,77,1);
	background: rgba(156,35,174,1);
	border: 3px solid rgba(255,178,77,1);
}


                                    
                                    